---
import { Link } from "@/components/ui/link";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <div class="mx-auto max-w-screen-md mt-8 px-4">
    <h1 class="text-4xl font-bold my-4">About</h1>
    <p class="my-4">
      This is a template for a simple astro project with tailwindcss and shadcn/ui.
    </p>
    <Link href="https://github.com/wangrunlin/astro-shadcn">GitHub</Link>
  </div>
</BaseLayout>
