---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Blog">
  <div class="mx-auto max-w-screen-md mt-8 px-4">
    <h1 class="text-4xl font-bold my-4">Blog</h1>
  </div>
</BaseLayout>
