---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogList from "@/components/blogList.astro";
import { Button } from "@/components/ui/button";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title="Astro">
  <div class="mx-auto max-w-screen-md mt-8 px-4">
    <h1 class="text-4xl font-bold my-4">Astro</h1>
    <Button id="shadcn-ui-button">{t("hello")} Shadcn/UI</Button>

    <h2 class="text-2xl font-bold my-4">{t("blog")}</h2>
    <BlogList />
  </div>
</BaseLayout>

<script>
  import { getLangFromUrl, useTranslations } from "@/i18n/utils";

  console.log("location.href: ", globalThis.location.href);
  const lang = getLangFromUrl(new URL(globalThis.location.href));
  const t = useTranslations(lang);

  const handleClick = () => {
    console.log(`${t("hello")} Shadcn/UI`);
    alert(`${t("hello")} Shadcn/UI`);
  };

  document.getElementById("shadcn-ui-button")?.addEventListener("click", handleClick);
</script>
