---
import { House } from "lucide-react";
import { Link } from "@/components/ui/link";
import { ModeToggle } from "./ModeToggle";

const links = [
  {
    name: "About",
    href: "/about",
  },
  {
    name: "Blog",
    href: "/blog",
  },
  {
    name: "Contact",
    href: "/contact",
  },
];
---

<nav class="p-4 bg-blue-100 dark:bg-gray-800 text-gray-800 dark:text-white">
  <div class="container mx-auto flex justify-between items-center">
    <div class="lg:flex lg:items-center lg:w-auto w-full">
      <Link href="/" variant="link">
        <House />
      </Link>
    </div>

    <!-- mobile menu button -->
    <div class="lg:hidden">
      <button id="mobile-menu-button">
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>

    <div class="hidden lg:flex lg:items-center lg:w-auto w-full">
      <ul class="lg:flex lg:space-x-4">
        {
          links.map(({ name, href }) => (
            <li>
              <Link href={href} variant="link">
                {name}
              </Link>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="hidden lg:flex lg:items-center lg:w-auto w-full">
      <ModeToggle client:load />
    </div>
  </div>

  <div id="mobile-menu" class="lg:hidden hidden">
    <ul class="text-gray-800 dark:text-white space-y-2">
      {
        links.map(({ name, href }) => (
          <li class="text-center">
            <Link href={href} variant="link" className="text-white">
              {name}
            </Link>
          </li>
        ))
      }
    </ul>
  </div>

  <script>
    document.getElementById("mobile-menu-button")?.addEventListener("click", () => {
      const menu = document.getElementById("mobile-menu");
      if (menu) {
        menu.classList.toggle("hidden");
      }
    });
  </script>
</nav>
